.slider{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slider-arrow{
    width: 50px;
    height: 50px;
    background-color: #b37272;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;
}

.wrapper{
    height: 100%;
    display: flex;
    transition: all 1,5s ease;
}

.slide{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.img-container{
    height: 100%;
    padding: 50px;
    flex: 1;
}

.slide-image{
    height: 80%;
}

.slide-info{
    flex: 1;
    padding: 50px;
}

.slide-title{
    font-size: 70px;
}

.slide-description{
    margin: 50px 0px;
    font-style: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}

.slide-button{
    padding: 10px;
    font-style: 20px;
    background-color: transparent;
    cursor: pointer;
}